# APAN5400 COVID-19 Economic database

## New API with Mongo + Spark

In [ ]:
#NewsAPI data saved in MongoDB with Spark retrieval

In [1]:
#! pip install requests

In [2]:
import pymongo
import json
import requests
import json
url = ('https://newsapi.org/v2/everything?'
       'q=covid AND COVID AND COVID-19&' #include 'Covid' AND 'New York'
       'from=2022-05-01&' # it gives everthing starts from this date, you can change this based on your need
       #'to=2022-05-02&'
       'sortBy=popularity&'
       'apiKey=20ecdef98da84ea3be11be5f9f6e22ca')# use your api key, get an account and you will get one)

response = requests.get(url)
articles=response.json()['articles']

In [3]:
articles

[{'source': {'id': 'wired', 'name': 'Wired'},
  'author': 'Jennifer Conrad',
  'title': 'Everything’s a WeWork Now',
  'description': 'Years after the coworking giant’s highly publicized decline, its principles have permeated traditional offices and unlikely work spaces alike.',
  'url': 'https://www.wired.com/story/wework-coworking-office-spaces/',
  'urlToImage': 'https://media.wired.com/photos/626c6b393af1ff499f419115/191:100/w_1280,c_limit/WeWork-Office-Space-Business-1145667883.jpg',
  'publishedAt': '2022-05-02T11:00:00Z',
  'content': 'The SaksWorks coworking space in Greenwich, Connecticut, tucked inside what was once a Saks Fifth Avenue department store, feels like a well-appointed library where no one reads: fireplace, overstuff… [+3349 chars]'},
 {'source': {'id': 'wired', 'name': 'Wired'},
  'author': 'Matt Simon',
  'title': 'The Pandemic Gave Scientists a New Way to Spy on Emissions',
  'description': 'Researchers have struggled to quantify in real time how much carbon dioxide humans spout. Lockdowns presented a unique opportunity to get a clearer picture.',
  'url': 'https://www.wired.com/story/the-pandemic-gave-scientists-a-new-way-to-spy-on-emissions/',
  'urlToImage': 'https://media.wired.com/photos/626fffd9389b0ab3335e10d7/191:100/w_1280,c_limit/truck_exhaust_emissions_science-1324589360.jpg',
  'publishedAt': '2022-05-03T11:00:00Z',
  'content': 'Think of the sky as a big bowl of blue soup. Its ingredients include oxygen, nitrogen, and carbon dioxide, which scientists can precisely measure. But ever since the Industrial Revolution, humans hav… [+2792 chars]'},
 {'source': {'id': None, 'name': 'New York Times'},
  'author': 'Charles Homans',
  'title': 'Right-Wing Twitter Exiles Weigh a Return to the Arena',
  'description': 'Elon Musk’s plans to buy the social media platform were met with glee by some on the right. But will they all come back?',
  'url': 'https://www.nytimes.com/2022/05/03/us/right-wing-twitter-exiles-weigh-a-return-to-the-arena.html',
  'urlToImage': 'https://static01.nyt.com/images/2022/05/03/multimedia/03pol-rightwing-twitter-greene/03pol-rightwing-twitter-greene-facebookJumbo.jpg',
  'publishedAt': '2022-05-03T09:00:20Z',
  'content': 'But the researchers found that suspensions were predicted just as consistently by the accounts sharing of what survey participants from both parties agreed to be misinformation. In other words, Repub… [+2685 chars]'},
 {'source': {'id': 'cnn', 'name': 'CNN'},
  'author': None,
  'title': "In pictures: The 2022 White House Correspondents' Dinner",
  'description': "After a two-year hiatus due to the Covid-19 pandemic, the White House Correspondents' Dinner returned in full force Saturday night.",
  'url': 'https://www.cnn.com/2022/04/30/politics/gallery/2022-white-house-correspondents-dinner/index.html',
  'urlToImage': 'https://cdn.cnn.com/cnnnext/dam/assets/220430224810-17-white-house-correspondents-dinner-super-tease.jpg',
  'publishedAt': '2022-05-01T03:42:55Z',
  'content': "US President Joe Biden speaks during the annual White House Correspondents' Dinner in Washington, DC, on April 30.\r\nUpdated 11:42 PM ET, Sat April 30, 2022\r\nUS President Joe Biden speaks during the a… [+760 chars]"},
 {'source': {'id': 'cnn', 'name': 'CNN'},
  'author': 'Eliza Mackintosh and Hafsa Khalil, CNN',
  'title': 'The US is closely watching this Covid surge for clues',
  'description': 'Covid-19 cases are spiking in South Africa, and public health experts in the United States are following the data closely, waiting to see what it might reveal about how immunity from previous infections behaves over time.',
  'url': 'https://www.cnn.com/2022/05/04/world/coronavirus-newsletter-intl-05-04-22/index.html',
  'urlToImage': 'https://cdn.cnn.com/cnnnext/dam/assets/200417130109-02-coronavirus-cdc-image-super-tease.jpg',
  'publishedAt': '2022-05-04T11:24:46Z',
  'content': "This is the weekly edition of CNN's coronavirus newsletter. Look out for your roundup every Wednesday. If you haven't subscribed yet, sign up here.\r\n (CNN)Covid-19 cases are spiking in South Africa, … [+9522 chars]"},
 {'source': {'id': 'cnn', 'name': 'CNN'},
  'author': 'Melissa Gray, Rosa Flores',
  'title': "ICE says it's working to address delays causing long waits for migrants in Orlando",
  'description': "US Immigration and Customs Enforcement said Monday it's working to address processing delays at its Orlando, Florida, office, days after a US lawmaker said hundreds of migrants are being forced to wait in long lines and even sleep in tents and cars as they wa…",
  'url': 'https://www.cnn.com/2022/05/02/us/migrants-long-waits-orlando-ice-office/index.html',
  'urlToImage': 'https://media.cnn.com/api/v1/images/stellar/prod/220430190547-migrants-sleep-outside-orlando-ice-office.jpg?c=16x9&q=w_800,c_fill',
  'publishedAt': '2022-05-03T00:25:00Z',
  'content': 'US Immigration and Customs Enforcement said Monday its working to address processing delays at its Orlando, Florida, office, days after a US lawmaker said hundreds of migrants are being forced to wai… [+2721 chars]'},
 {'source': {'id': 'cnn', 'name': 'CNN'},
  'author': 'Nicole Chavez and Priya Krishnakumar, CNN',
  'title': "We speak about Asian Americans as a single block. Here's how incredibly complex they are",
  'description': 'Asian Americans are often labeled as a singular group, but the fastest growing population in the US is far from a monolith — and their complex history and cultures are often glossed over.',
  'url': 'https://www.cnn.com/2022/05/01/us/asian-americans-facts-diversity/index.html',
  'urlToImage': 'https://cdn.cnn.com/cnnnext/dam/assets/210504114736-20210504-asian-american-diversity-super-tease.jpg',
  'publishedAt': '2022-05-01T13:08:54Z',
  'content': 'By Nicole Chavez and Priya Krishnakumar, CNN\r\nUpdated 9:08 AM ET, Sun May 1, 2022\r\nThis story was originally published in 2021.\r\n (CNN)Asian Americans are often labeled as a singular group, but the f… [+7068 chars]'},
 {'source': {'id': 'cnn', 'name': 'CNN'},
  'author': 'Dan Berman',
  'title': 'The latest in the investigations and lawsuits involving Donald Trump, his company and the 2020 election',
  'description': 'The volume of investigations involving former President Donald Trump, the January 6 attack on the US Capitol, efforts to overturn the 2020 presidential election and the finances of the Trump Organization is staggering.',
  'url': 'https://www.cnn.com/2022/05/02/politics/donald-trump-investigations-lawsuits-election-january-6/index.html',
  'urlToImage': 'https://media.cnn.com/api/v1/images/stellar/prod/220501211142-donald-trump-0501.jpg?c=16x9&q=w_800,c_fill',
  'publishedAt': '2022-05-02T18:18:35Z',
  'content': 'The volume of investigations involving former President Donald Trump, the January 6 attack on the US Capitol, efforts to overturn the 2020 presidential election and the finances of the Trump Organiza… [+8729 chars]'},
 {'source': {'id': 'bbc-news', 'name': 'BBC News'},
  'author': 'https://www.facebook.com/bbcnews',
  'title': 'RBI repo rate: India central bank hikes interest rates after 2 years',
  'description': "The Reserve Bank of India's surprise move is an attempt to stem rising inflation.",
  'url': 'https://www.bbc.co.uk/news/world-asia-india-61317082',
  'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/13183/production/_124411287_gettyimages-1239195621.jpg',
  'publishedAt': '2022-05-04T11:32:10Z',
  'content': "By Nikhil InamdarBBC Business Correspondent, Mumbai\r\nImage source, Getty Images\r\nImage caption, Prices of food and fuel have soared in India\r\nIndia's central bank has raised the benchmark interest ra… [+3488 chars]"},
 {'source': {'id': 'ars-technica', 'name': 'Ars Technica'},
  'author': 'Beth Mole',
  'title': 'Omicron subvariants BA.4, BA.5 evade protection from earlier omicron infection',
  'description': 'Data suggests possibility of new infection wave, though vaccination boosts protection.',
  'url': 'https://arstechnica.com/science/2022/05/omicron-subvariants-ba-4-ba-5-evade-protection-from-earlier-omicron-infection/',
  'urlToImage': 'https://cdn.arstechnica.net/wp-content/uploads/2022/05/GettyImages-1394037067-760x380.jpeg',
  'publishedAt': '2022-05-02T22:44:36Z',
  'content': "Enlarge/ A COVID-19 testing tent stands in Times Square on April 27, 2022, in New York City. \r\n5 with 4 posters participating\r\nEnduring an initial omicron infection may not spare you from omicron's s… [+3056 chars]"},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': 'Blinken tests positive for COVID, U.S. State Department says - Reuters',
  'description': 'U.S. Secretary of State Antony Blinken tested positive for COVID-19 on Wednesday, the U.S. State Department said, adding that he was experiencing mild symptoms.',
  'url': 'https://www.reuters.com/world/us/blinken-tests-positive-covid-us-state-department-says-2022-05-04/',
  'urlToImage': 'https://www.reuters.com/resizer/4Xi-6wrD3RfryBidA3sZ1P6-5Uo=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/G4TX63XZTBNYXJQ2ZXMDPJ4SJA.jpg',
  'publishedAt': '2022-05-04T19:50:00Z',
  'content': 'WASHINGTON, May 4 (Reuters) - U.S. Secretary of State Antony Blinken tested positive for COVID-19 on Wednesday, the U.S. State Department said, adding that he was experiencing mild symptoms.\r\nThe top… [+591 chars]'},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': 'Mainland China reports 8329 new COVID cases on April 30 vs 10793 day earlier - Reuters',
  'description': 'Mainland China reported 8,329 new confirmed cases of COVID-19 for April 30, the National Health Commission said on Sunday, down from 10,793 a day earlier.',
  'url': 'https://www.reuters.com/world/china/mainland-china-reports-8329-new-covid-cases-april-30-vs-10793-day-earlier-2022-05-01/',
  'urlToImage': 'https://www.reuters.com/resizer/hy6vPLrYF_SFp1YDyY4nSV-OdYE=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/CAISWNI7MVN7TC7MVYZJ6TRHMU.jpg',
  'publishedAt': '2022-05-01T01:14:00Z',
  'content': 'A person wearing a face mask walks in a hutong alley, after the government announced that COVID-19 test result within 48 hours is required before going to public places during the Labour Day holiday … [+1233 chars]'},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': 'China reports 7822 new COVID cases on May 1, down from previous day - Reuters.com',
  'description': 'Mainland China reported 7,822 new COVID-19 cases on May 1, including 865 symptomatic cases and 6,957 asymptomatic infections, the National Health Commission said on Monday.',
  'url': 'https://www.reuters.com/world/china/china-reports-7822-new-covid-cases-may-1-down-previous-day-2022-05-02/',
  'urlToImage': 'https://www.reuters.com/resizer/-eEBdxNl557iDl8voZerU93cz8Y=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/AGJFHLPQDRKKBGVCQIXQAILFEY.jpg',
  'publishedAt': '2022-05-02T01:22:00Z',
  'content': 'BEIJING, May 2 (Reuters) - Mainland China reported 7,822 new COVID-19 cases on May 1, including 865 symptomatic cases and 6,957 asymptomatic infections, the National Health Commission said on Monday.… [+461 chars]'},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': 'Costa Rica to roll out fourth COVID shot for some - Reuters',
  'description': "Costa Rica will offer a fourth dose of the COVID-19 vaccine to the immunocompromised and to those over 50, the country's Health Ministry said on Monday.",
  'url': 'https://www.reuters.com/world/americas/costa-rica-roll-out-fourth-covid-shot-some-2022-05-02/',
  'urlToImage': 'https://www.reuters.com/resizer/7bQbw87Bfq9zgsrfFYjVq5Oz1-w=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/L4X2ZDJEBFIWZPKMQWU4MUMQMM.jpg',
  'publishedAt': '2022-05-02T23:56:00Z',
  'content': "SAN JOSE, May 2 (Reuters) - Costa Rica will offer a fourth dose of the COVID-19 vaccine to the immunocompromised and to those over 50, the country's Health Ministry said on Monday.\r\nThe fourth dose w… [+957 chars]"},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': "Taiwan calls China's COVID lockdowns 'cruel', says won't follow its steps - Reuters",
  'description': 'China\'s lockdowns to control the spread of COVID-19 are "cruel" and Taiwan will not follow suit, Premier Su Tseng-chang said on Sunday.',
  'url': 'https://www.reuters.com/world/china/taiwan-calls-chinas-covid-lockdowns-cruel-says-wont-follow-its-steps-2022-05-01/',
  'urlToImage': 'https://www.reuters.com/resizer/4LC2W95JsEecwljntFaubSY3tJ4=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/AEM7WWWIQZI5VFPLJHTLSG2DBA.jpg',
  'publishedAt': '2022-05-01T02:22:00Z',
  'content': 'TAIPEI, May 1 (Reuters) - China\'s lockdowns to control the spread of COVID-19 are "cruel" and Taiwan will not follow suit, Premier Su Tseng-chang said on Sunday.\r\nHaving controlled the pandemic with … [+1647 chars]'},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': 'Amazon ends COVID paid leave for U.S. workers - Reuters.com',
  'description': 'Giant online retailer Amazon.com Inc <a href="https://www.reuters.com/companies/AMZN.O" target="_blank">(AMZN.O)</a> will end its paid time-off policy for employees with COVID-19 from May 2, the company told U.S.-based staff on Saturday.',
  'url': 'https://www.reuters.com/world/us/amazon-ends-covid-paid-leave-us-workers-2022-05-01/',
  'urlToImage': 'https://www.reuters.com/resizer/EHyD3mcWZujDmw3qDKYTWpTONpc=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/N522NTTFNVNFHDQ4YTVL4GPFWE.jpg',
  'publishedAt': '2022-05-01T04:25:00Z',
  'content': 'May 1(Reuters) - Giant online retailer Amazon.com Inc (AMZN.O) will end its paid time-off policy for employees with COVID-19 from May 2, the company told U.S.-based staff on Saturday.\r\nThe change fol… [+1267 chars]'},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': "S.Africa's Aspen COVID-19 vaccine plant risks closure after no orders-executive - Reuters.com",
  'description': "Africa's first COVID-19 vaccination plant, touted last year as a trailblazer for an under-vaccinated continent frustrated by sluggish Western handouts, risks shutting down after receiving not a single order, a company executive said on Saturday.",
  'url': 'https://www.reuters.com/business/healthcare-pharmaceuticals/safricas-aspen-covid-19-vaccine-plant-risks-closure-after-no-orders-executive-2022-05-01/',
  'urlToImage': 'https://www.reuters.com/resizer/ltYvLEhhKVygIEyOluo2dW_kEes=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/3KJDHELHAFL7DESYLNUKBD2K5I.jpg',
  'publishedAt': '2022-05-01T17:06:00Z',
  'content': "JOHANNESBURG, May 1 (Reuters) - Africa's first COVID-19 vaccination plant, touted last year as a trailblazer for an under-vaccinated continent frustrated by sluggish Western handouts, risks shutting … [+2258 chars]"},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': 'Novavax files for authorization of COVID-19 shot among adolescents in Britain - Reuters.com',
  'description': 'Novavax Inc <a href="https://www.reuters.com/companies/NVAX.O" target="_blank">(NVAX.O)</a> said on Wednesday it had filed an application with Britain\'s drugs regulator for the authorization of its COVID-19 vaccine among adolescents aged 12 and older.',
  'url': 'https://www.reuters.com/world/uk/novavax-files-authorization-covid-19-shot-among-adolescents-britain-2022-05-04/',
  'urlToImage': 'https://www.reuters.com/resizer/d9724TAh0hYQeUnTYwAva4cPwZs=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/YJYJZR2YIBPE5B5VUYX67J7E6A.jpg',
  'publishedAt': '2022-05-04T21:22:00Z',
  'content': "May 4 (Reuters) - Novavax Inc (NVAX.O) said on Wednesday it had filed an application with Britain's drugs regulator for the authorization of its COVID-19 vaccine among adolescents aged 12 and older.\r… [+847 chars]"},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': 'Starbucks misses comparable sales estimates on China COVID curbs - Reuters',
  'description': 'Starbucks Corp <a href="https://www.reuters.com/companies/SBUX.O" target="_blank">(SBUX.O)</a> reported quarterly comparable sales below Wall Street expectations on Tuesday, as tough COVID-19 curbs in China dented sales in the country and muddied its strong s…',
  'url': 'https://www.reuters.com/business/retail-consumer/starbucks-misses-comparable-sales-estimates-china-covid-curbs-2022-05-03/',
  'urlToImage': 'https://www.reuters.com/resizer/Rb1qKtNI88Gui3pgdf66OlSAdP4=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/TDA3IM7G4JK33LKWCKBVYUZ5UM.jpg',
  'publishedAt': '2022-05-03T20:13:00Z',
  'content': 'May 3 (Reuters) - Starbucks Corp (SBUX.O) reported quarterly comparable sales below Wall Street expectations on Tuesday, as tough COVID-19 curbs in China dented sales in the country and muddied its s… [+1455 chars]'},
 {'source': {'id': 'reuters', 'name': 'Reuters'},
  'author': None,
  'title': 'Beijing curbs public transport as COVID spreads in China - Reuters',
  'description': 'The Chinese capital Beijing shut dozens of metro stations and bus routes on Wednesday in its campaign to stop the spread of COVID-19 and avoid the fate of Shanghai where millions of residents have been under strict lockdown for more than a month.',
  'url': 'https://www.reuters.com/world/china/beijing-curbs-public-transport-covid-spreads-china-2022-05-04/',
  'urlToImage': 'https://www.reuters.com/resizer/_iGkLxSXIkdOIcmSPqsBLGo4Cos=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/ZL3WGGBGDJKVHAUAJTIHA6XHUY.jpg',
  'publishedAt': '2022-05-04T04:10:00Z',
  'content': 'BEIJING/SHANGHAI, May 4 (Reuters) - The Chinese capital Beijing shut dozens of metro stations and bus routes on Wednesday in its campaign to stop the spread of COVID-19 and avoid the fate of Shanghai… [+4616 chars]'}]

In [56]:
#print titles
#results=[]
#for ar in articles:
#    results.append(ar["title"])
#for i in range (len(results)): 
#    print (i+1,results[i])

In [9]:
from pymongo import MongoClient
client = MongoClient('localhost',27017) 
db = client.apan5400 #use your db
collection = db.gw_collection

In [10]:
collection.insert_many(articles)

In [11]:
total_docs = collection.count_documents({})
total_docs

20

In [8]:
collection.delete_many({})

In [56]:
collection.drop()

In [6]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession, SQLContext

In [7]:
conf = pyspark.SparkConf().set("spark.jars.packages",
                              "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1").setMaster("local").setAppName("My App").setAll([("spark.driver.memory", "40g"),("spark.executor,memroy","50g")])

In [8]:
sc = SparkContext(conf=conf)

:: loading settings :: url = jar:file:/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/administratoro/.ivy2/cache
The jars for the packages stored in: /Users/administratoro/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-c307305f-6189-481f-8e55-ddc87240745d;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
:: resolution report :: resolve 444ms :: artifacts dl 21ms
	:: modules in use:
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-c307305f-6189-481f-8e55-ddc87240745d
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/20ms)
22/05/04 16:59:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/04 16:59:54 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/04 16:59:54 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [16]:
sqlC = SQLContext(sc)

In [9]:
mongo_ip = "mongodb://localhost:27017/apan5400."

In [10]:
print(mongo_ip)

mongodb://localhost:27017/apan5400.

In [75]:
news = sqlC.read.format("com.mongodb.spark.sql.DefaultSource").option("uri",mongo_ip + "gw_collection").load()

In [76]:
news.createOrReplaceTempView("news")

In [77]:
news = sqlC.sql("SELECT * FROM news")

In [81]:
news.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                 _id|              author|             content|         description|         publishedAt|              source|               title|                 url|          urlToImage|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|{6272a75f2c50499a...|     Jennifer Conrad|The SaksWorks cow...|Years after the c...|2022-05-02T11:00:00Z|      {wired, Wired}|Everything’s a We...|https://www.wired...|https://media.wir...|
|{6272a75f2c50499a...|          Matt Simon|Think of the sky ...|Researchers have ...|2022-05-03T11:00:00Z|      {wired, Wired}|The Pandemic Gave...|https://www.wired...|https://media.wir...|
|{6272a75f2c50499a...|      Charles Homans|But the researche...|Elon Musk’s plans...|2022-05-03T09:00:20Z|{null, New York T...|Right-Wing Twitte...|https://www.nytim...|https://static01....|
|{6272a75f2c50499a...|                null|US President Joe ...|After a two-year ...|2022-05-01T03:42:55Z|          {cnn, CNN}|In pictures: The ...|https://www.cnn.c...|https://cdn.cnn.c...|
|{6272a75f2c50499a...|Eliza Mackintosh ...|This is the weekl...|Covid-19 cases ar...|2022-05-04T11:24:46Z|          {cnn, CNN}|The US is closely...|https://www.cnn.c...|https://cdn.cnn.c...|
|{6272a75f2c50499a...|Melissa Gray, Ros...|US Immigration an...|US Immigration an...|2022-05-03T00:25:00Z|          {cnn, CNN}|ICE says it's wor...|https://www.cnn.c...|https://media.cnn...|
|{6272a75f2c50499a...|Nicole Chavez and...|By Nicole Chavez ...|Asian Americans a...|2022-05-01T13:08:54Z|          {cnn, CNN}|We speak about As...|https://www.cnn.c...|https://cdn.cnn.c...|
|{6272a75f2c50499a...|          Dan Berman|The volume of inv...|The volume of inv...|2022-05-02T18:18:35Z|          {cnn, CNN}|The latest in the...|https://www.cnn.c...|https://media.cnn...|
|{6272a75f2c50499a...|https://www.faceb...|By Nikhil Inamdar...|The Reserve Bank ...|2022-05-04T11:32:10Z|{bbc-news, BBC News}|RBI repo rate: In...|https://www.bbc.c...|https://ichef.bbc...|
|{6272a75f2c50499a...|           Beth Mole|Enlarge/ A COVID-...|Data suggests pos...|2022-05-02T22:44:36Z|{ars-technica, Ar...|Omicron subvarian...|https://arstechni...|https://cdn.arste...|
|{6272a75f2c50499a...|                null|A person wearing ...|Mainland China re...|2022-05-01T01:14:00Z|  {reuters, Reuters}|Mainland China re...|https://www.reute...|https://www.reute...|
|{6272a75f2c50499a...|                null|TAIPEI, May 1 (Re...|China's lockdowns...|2022-05-01T02:22:00Z|  {reuters, Reuters}|Taiwan calls Chin...|https://www.reute...|https://www.reute...|
|{6272a75f2c50499a...|                null|BEIJING, May 2 (R...|Mainland China re...|2022-05-02T01:22:00Z|  {reuters, Reuters}|China reports 782...|https://www.reute...|https://www.reute...|
|{6272a75f2c50499a...|                null|SAN JOSE, May 2 (...|Costa Rica will o...|2022-05-02T23:56:00Z|  {reuters, Reuters}|Costa Rica to rol...|https://www.reute...|https://www.reute...|
|{6272a75f2c50499a...|                null|May 1(Reuters) - ...|Giant online reta...|2022-05-01T04:25:00Z|  {reuters, Reuters}|Amazon ends COVID...|https://www.reute...|https://www.reute...|
|{6272a75f2c50499a...|                null|JOHANNESBURG, May...|Africa's first CO...|2022-05-01T17:06:00Z|  {reuters, Reuters}|S.Africa's Aspen ...|https://www.reute...|https://www.reute...|
|{6272a75f2c50499a...|                null|May 3 (Reuters) -...|Starbucks Corp <a...|2022-05-03T20:13:00Z|  {reuters, Reuters}|Starbucks misses ...|https://www.reute...|https://www.reute...|
|{6272a75f2c50499a...|                null|BEIJING/SHANGHAI,...|The Chinese capit...|2022-05-04T04:10:00Z|  {reuters, Reuters}|Beijing curbs pub...|https://www.reute...|https://www.reute...|
|{6272a75f2c50499a...|                null|A vial of Regener...|Regeneron Pharmac...|2022-05-04T10:50:00Z|  {reuters, Reuters}|Regeneron quarter...|https://www.reute...|https://www.reute...|
|{6272a75f2c50499a...|                null|May 4 (Reuters) -...|Moderna Inc <a hr...|2022-05-04T11:07:00Z|  {reuters, Reuters}|Moderna keeps ful...|https://www.reute...|https://www.reute...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [89]:
news_at_date = sqlC.sql("SELECT title, source, url, publishedAt FROM news WHERE publishedAt LIKE '2022-05-04%'")

In [90]:
news_at_date.show()

+--------------------+--------------------+--------------------+--------------------+
|               title|              source|                 url|         publishedAt|
+--------------------+--------------------+--------------------+--------------------+
|The US is closely...|          {cnn, CNN}|https://www.cnn.c...|2022-05-04T11:24:46Z|
|RBI repo rate: In...|{bbc-news, BBC News}|https://www.bbc.c...|2022-05-04T11:32:10Z|
|Beijing curbs pub...|  {reuters, Reuters}|https://www.reute...|2022-05-04T04:10:00Z|
|Regeneron quarter...|  {reuters, Reuters}|https://www.reute...|2022-05-04T10:50:00Z|
|Moderna keeps ful...|  {reuters, Reuters}|https://www.reute...|2022-05-04T11:07:00Z|
+--------------------+--------------------+--------------------+--------------------+

## Covid data saved in MongoDB with Spark retrieval

In [15]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("9mfq-cb36", limit=10000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [16]:
results_df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,conf_death,prob_death
0,2021-12-01T00:00:00.000,ND,163565,135705.0,27860,589.0,220,1907,9.0,0,2021-12-02T14:35:20.922,Agree,Not agree,NaN,NaN
1,2021-09-01T00:00:00.000,ND,118491,107475.0,11016,536.0,66,1562,1.0,0,2021-09-02T13:49:05.431,Agree,Not agree,NaN,NaN
2,2021-07-20T00:00:00.000,MD,464491,NaN,NaN,155.0,0,9822,3.0,1,2021-07-22T00:00:00.000,N/A,Agree,9604.0,218
3,2020-05-13T00:00:00.000,VT,855,NaN,NaN,2.0,0,52,0.0,0,2020-05-15T00:00:00.000,Not agree,Not agree,NaN,NaN
4,2022-04-21T00:00:00.000,ID,445350,348949.0,96401,0.0,0,4918,0.0,0,2022-04-22T14:15:21.481,Agree,Agree,4007.0,911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2020-09-29T00:00:00.000,KY,73778,63333.0,10445,945.0,279,1508,8.0,2,2020-10-01T00:00:00.000,Agree,Agree,1448.0,60
9996,2022-03-10T00:00:00.000,RI,339725,NaN,NaN,186.0,0,3504,12.0,0,2022-04-22T13:12:04.885,Not agree,N/A,NaN,NaN
9997,2020-02-28T00:00:00.000,NJ,0,NaN,NaN,0.0,NaN,0,0.0,NaN,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN
9998,2021-03-01T00:00:00.000,KY,410470,313409.0,97061,347.0,78,7047,15.0,2,2021-03-03T00:00:00.000,Agree,Agree,6262.0,785
9999,2022-02-18T00:00:00.000,MN,1404662,NaN,NaN,2223.0,381,12131,31.0,0,2022-02-19T14:20:06.797,N/A,Agree,11961.0,170

In [18]:
from pymongo import MongoClient
client = MongoClient('localhost',27017) ## or MongoClient("localhost:27")
db = client.apan5400

In [20]:
collection.delete_many({})

In [21]:
collection = db.covid
data_dict = results_df.to_dict("records")
collection.insert_many(data_dict)
total_docs = collection.count_documents({})
total_docs

10000

In [26]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession, SQLContext
conf = pyspark.SparkConf().set("spark.jars.packages",
                              "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1").setMaster("local").setAppName("My App").setAll([("spark.driver.memory", "40g"),("spark.executor,memroy","50g")])
sc = SparkContext(conf=conf)
sqlC = SQLContext(sc)

:: loading settings :: url = jar:file:/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/administratoro/.ivy2/cache
The jars for the packages stored in: /Users/administratoro/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-8e06926e-2c43-4197-a42f-15f6e8d25feb;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
:: resolution report :: resolve 383ms :: artifacts dl 13ms
	:: modules in use:
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-8e06926e-2c43-4197-a42f-15f6e8d25feb
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/5ms)
22/05/04 19:41:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/04 19:41:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/04 19:41:44 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
/opt/anaconda3/lib/python3.9/site-packages/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [1]:
#covid = sqlC.read.format("com.mongodb.spark.sql.DefaultSource").option("uri",mongo_ip + "covid").load()

In [ ]:
covid.createOrReplaceTempView("covid")

In [ ]:
coviddata = sqlC.sql("SELECT * FROM covid")
covidbystate = sqlC.sql("SELECT submission_date, state, new_case, tot_cases FROM covid WHERE state = 'VT' ORDER BY submission_date DESC")

In [ ]:
covidbystate.show()

## Oil price data with PostgreSQL

In [6]:
import psycopg2, os
import pandas as pd
import sqlite3

print('Connecting to the PostgreSQL database...')
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    database="postgres",
    user="postgres",
    password="123")

Connecting to the PostgreSQL database...

In [7]:
# create a cursor
cur = conn.cursor()

In [8]:
# execute a statement
print('PostgreSQL database version:')
cur.execute('SELECT version()')

# display the PostgreSQL database server version
db_version = cur.fetchone()
print(db_version)
       
createCmd = """ CREATE TABLE oil_history (
                id SERIAL PRIMARY KEY,
                Date date,
                US float,
                East_Coast float,
                New_England float,
                Central_Atlantic float,
                Lower_Atlantic float,
                Midwest float,
                Gulf_Coast float,
                West_Coast float,
                California float
                )
            """
    
cur.execute(createCmd)
conn.commit()

PostgreSQL database version:
('PostgreSQL 14.1 (Debian 14.1-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)

DuplicateTable: relation "oil_history" already exists

In [2]:
#

In [31]:
#load the data, the data is updated via email
oil = pd.read_csv('gas_price.csv')
oil.head()

,id,Date,US,East_Coast,New_England,Central_Atlantic,Lower_Atlantic,Midwest,Gulf_Coast,West_Coast,California
0,1,28-Nov-94,1.149,1.149,1.163,1.172,1.092,1.099,1.093,1.255,NaN
1,2,5-Dec-94,1.169,1.164,1.184,1.180,1.098,1.134,1.121,1.252,NaN
2,3,12-Dec-94,1.167,1.166,1.183,1.178,1.106,1.124,1.126,1.244,NaN
3,4,19-Dec-94,1.167,1.168,1.180,1.177,1.110,1.125,1.125,1.235,NaN
4,5,26-Dec-94,1.165,1.166,1.173,1.179,1.110,1.123,1.113,1.236,NaN

In [32]:
from sqlalchemy import create_engine
conn_url= 'postgresql://postgres:123@localhost:5432/postgres'
engine = create_engine(conn_url)
connection = engine.connect()
cur = conn.cursor()

In [33]:
oil.to_sql(name='oil_history', con=engine, if_exists='append', index=False)

## flask

In [ ]:
@app.route('/')
def my_form():
    return render_template("my-form2.html")

@app.route('/', methods=['POST'])
def my_form_post():
    # Import pymongo package and connect to the MongoDB database
    from pymongo import MongoClient 
    #Use the default
    client = MongoClient('localhost',27017)
    db = client.project
    date = request.form['userinput']
    keywords = request.form['userinput2']
    category = request.form['userinput3']
    data = df_all
    pipeline = [
        { "$match": { "oil_price":  price }},
        { "$sort": { "keywords": 1}},
        { "$group":{ "_id":{"Category":"$category","Oil Price":"$oil_price","Keywords":"$keywords"}}}
    ]
    if len(date)!=0:
        data = data[(data['date'] == date)]
    if len(keywords)!=0:
        data = data[(data['keywords']==keywords)]
    if len(price)!=0:
        data = data[(data['oli_price'].astype(str)==price)]
    if len(rt)!=0:
        data = data[(data['room_type'])==rt]
    data = data.sort_values(by=['oli_price'])
    cn = data.columns.values
    return render_template('result.html', tables=[data.to_html(classes='data')], titles = data.columns.values)

In [ ]:
app.run(host='localhost', port=5002)